<div class="card">
    <div class="card-img top">
        <img src="{{images.[3].url}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <div class="card-img left">
            <img src="{{images.[2].url}}" alt="{{name}}">
        </div>
        <h3 class="card-title">INFO</h3>
        <p class="card-text">
            <a href="{{_embedded.attractions.[0].url}}" class="eventinfo-link" target="_blank">All the details about the artist and the event</a>
        </p>
        <h3 class="card-title">WHEN</h3>
        <p class="card-text">{{dates.start.localDate}} <br> {{dates.start.localTime}} ({{dates.timezone}}) </p>
        <h3 class="card-title">WHERE</h3>
        <p class="card-text">{{_embedded.venues.[0].city.name}}, {{_embedded.venues.[0].country.name}} <br> {{_embedded.venues.[0].name}}</p>
        <h3 class="card-title">WHO</h3>
        <p class="card-text">{{name}}</p>
        <h3 class="card-title">PRICES</h3>
        {{#each priceRanges}}
        <p class="card-text">{{this.type}} {{this.min}} - {{this.max}} {{this.currency}}</p>
        <a href={{../url}} class="lightbox__button link" target="_blank">BUY TICKETS</a>
        {{/each}}
    </div>
    <button type="button" class="lightbox__button" data-action="more-events">MORE FROM THIS AUTHOR</button>
</div>